.gig-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  justify-content: center;
  padding: 10px;
  max-width: 2500px;
}

body {
    font-family: 'Verdana', sans-serif;
    background-color: #3d6e48;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  div {
    background: #d5e7ee;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
  }
  
  h1 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    font-size: 30px;
    margin-bottom: 15px;
    padding: 20px;
  }
  
  #AlbumCover {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 18px;
    margin: 5px 0;
  }
  
  #Event {
    font-weight: bold;
  }
  
  #Date, #Location {
    font-style: italic;
    color: #666;
  }
  
Button {
    background: #3d6e48;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
  }

  .gig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #d5e7ee;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    min-height: 100%;
    height: auto;
  }
  
  .gig img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .gig button {
    margin-top: 10px;
    width: 80%;
  }
  